<style>
#donatePrompt .dp-inner {
    margin: 24px 0; padding: 12px;
    border: 6px solid var(--default_accent);
    background-color: var(--default_hl_bg)
}

#donatePrompt .dp-reshow {
    display: none;
}

#donatePrompt.hidden .dp-inner {
    display: none;
}

#donatePrompt a { cursor: pointer; }

#donatePrompt.hidden .dp-reshow {
    display: block;
    margin: 24px 0;
    font-size: 14px;
}

</style>

<div id="donatePrompt">
    <div class="dp-inner">
        <h3>Hey there!</h3>
        <p>
            I run this website without any ads and without tracking, because I love
            to share these little bits of knowledge and help people that are just
            starting out.
        </p>
        <p>
            If you'd like to thank me, or you'd like this work to be
            sustainable and continue on in the future,
            <a href="https://liberapay.com/gabmus/">consider sending a donation
            via Liberapay</a>. Thank you!
        </p>
        <p>
            <a onclick="hideDonatePrompt()">Hide this message</a>
        </p>
    </div>
    <div class="dp-reshow">
        <a onclick="showDonatePrompt()">Show donation message</a>
    </div>
</div>

<script>
    const DONATE_MSG_COOKIE = 'deckcentralHideDonatePrompt';

    function getCookie(name) {
        for (let cookie of document.cookie.split(';')) {
            cookie = cookie.trim();
            if (cookie.split('=')[0] == name) {
                return cookie.split('=')[1].replace(';', '').trim();
            }
        }
        return null;
    }

    function setCookie(name, value) {
        document.cookie = `${name}=${value}`;
    }

    function hideDonatePrompt() {
        document.getElementById('donatePrompt').classList.add('hidden');
        setCookie(DONATE_MSG_COOKIE, 1);
    }

    function showDonatePrompt() {
        document.getElementById('donatePrompt').classList.remove('hidden');
        setCookie(DONATE_MSG_COOKIE, 0);
    }

    if (getCookie(DONATE_MSG_COOKIE) == 1) {
        hideDonatePrompt();
    }
</script>
