<p><small>
    This website is free software,
    <a href="https://gitlab.com/gabmus/deckcentral"
    >the code is available on GitLab under the GNU AGPLv3 license</a>.<br />
    Contributions are welcome :)
</small></p>
<p><small>
    This website is not affiliated with or endorsed by Valve Corporation.
</small></p>
