/* fira-sans-black */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 900;
	src: local("Fira Sans Black"), local("FiraSans-Black"), url(fira-sans-black.woff2) format("woff2");
}
/* fira-sans-black-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 900;
	src: local("Fira Sans Black Italic"), local("FiraSans-BlackItalic"), url(fira-sans-black-italic.woff2) format("woff2");
}
/* fira-sans-bold */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 700;
	src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(fira-sans-bold.woff2) format("woff2");
}
/* fira-sans-bold-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 700;
	src: local("Fira Sans Bold Italic"), local("FiraSans-BoldItalic"), url(fira-sans-bold-italic.woff2) format("woff2");
}
/* fira-sans-extrabold */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 800;
	src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url(fira-sans-extrabold.woff2) format("woff2");
}
/* fira-sans-extrabold-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 800;
	src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url(fira-sans-extrabold-italic.woff2) format("woff2");
}
/* fira-sans-extralight */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 200;
	src: local("Fira Sans ExtraLight"), local("FiraSans-ExtraLight"), url(fira-sans-extralight.woff2) format("woff2");
}
/* fira-sans-extralight-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 200;
	src: local("Fira Sans ExtraLight Italic"), local("FiraSans-ExtraLightItalic"), url(fira-sans-extralight-italic.woff2) format("woff2");
}
/* fira-sans-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 400;
	src: local("Fira Sans Italic"), local("FiraSans-Italic"), url(fira-sans-italic.woff2) format("woff2");
}
/* fira-sans-light */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 300;
	src: local("Fira Sans Light"), local("FiraSans-Light"), url(fira-sans-light.woff2) format("woff2");
}
/* fira-sans-light-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 300;
	src: local("Fira Sans Light Italic"), local("FiraSans-LightItalic"), url(fira-sans-light-italic.woff2) format("woff2");
}
/* fira-sans-medium */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	src: local("Fira Sans Medium"), local("FiraSans-Medium"), url(fira-sans-medium.woff2) format("woff2");
}
/* fira-sans-medium-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 500;
	src: local("Fira Sans Medium Italic"), local("FiraSans-MediumItalic"), url(fira-sans-medium-italic.woff2) format("woff2");
}
/* fira-sans-regular */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 400;
	src: local("Fira Sans Regular"), local("FiraSans-Regular"), url(fira-sans-regular.woff2) format("woff2");
}
/* fira-sans-semibold */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 600;
	src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url(fira-sans-semibold.woff2) format("woff2");
}
/* fira-sans-semibold-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 600;
	src: local("Fira Sans SemiBold Italic"), local("FiraSans-SemiBoldItalic"), url(fira-sans-semibold-italic.woff2) format("woff2");
}
/* fira-sans-thin */
@font-face {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 100;
	src: local("Fira Sans Thin"), local("FiraSans-Thin"), url(fira-sans-thin.woff2) format("woff2");
}
/* fira-sans-thin-italic */
@font-face {
	font-family: Fira Sans;
	font-style: italic;
	font-weight: 100;
	src: local("Fira Sans Thin Italic"), local("FiraSans-ThinItalic"), url(fira-sans-thin-italic.woff2) format("woff2");
}

